In [113]:
pip install --upgrade pandas

Requirement already satisfied: pandas in c:\users\subha\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\subha\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\subha\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\subha\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\subha\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\subha\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [114]:
import pandas as pd
import numpy as  np
from sklearn import linear_model

In [115]:
df=pd.read_csv('hiring.csv')

In [116]:
df

  experience  test_score(out of 10)  interview_score(out of 10)  salary($)
0        NaN                    8.0                           9      50000
1        NaN                    8.0                           6      45000
2       five                    6.0                           7      60000
3        two                   10.0                          10      65000
4      seven                    9.0                           6      70000
5      three                    7.0                          10      62000
6        ten                    NaN                           7      72000
7     eleven                    7.0                           8      80000

In [117]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   experience                  6 non-null      object
 1   test_score(out of 10)       7 non-null      float64
 2   interview_score(out of 10)  8 non-null      int64
 3   salary($)                   8 non-null      int64
dtypes: float64(1), int64(2), object(1)
memory usage: 388.0+ bytes

In [118]:
df.rename(columns={'test_score(out of 10)':'test'},inplace=True)

In [119]:
df['experience']=df.experience.fillna('')
df['test']=df.test.fillna('')

In [120]:
df

  experience  test  interview_score(out of 10)  salary($)
0              8.0                           9      50000
1              8.0                           6      45000
2       five   6.0                           7      60000
3        two  10.0                          10      65000
4      seven   9.0                           6      70000
5      three   7.0                          10      62000
6        ten                                 7      72000
7     eleven   7.0                           8      80000

In [121]:
df.loc[0,'experience']='one'

In [122]:
df

  experience  test  interview_score(out of 10)  salary($)
0        one   8.0                           9      50000
1              8.0                           6      45000
2       five   6.0                           7      60000
3        two  10.0                          10      65000
4      seven   9.0                           6      70000
5      three   7.0                          10      62000
6        ten                                 7      72000
7     eleven   7.0                           8      80000

In [123]:
if df.iloc[1].experience =='':
    print(type(df.index))

<class 'pandas.core.indexes.range.RangeIndex'>

In [124]:
df.index

RangeIndex(start=0, stop=8, step=1)

In [125]:
df.iloc[1].experience

''

In [126]:
df.loc[1,'experience']='two'

In [127]:
df

  experience  test  interview_score(out of 10)  salary($)
0        one   8.0                           9      50000
1        two   8.0                           6      45000
2       five   6.0                           7      60000
3        two  10.0                          10      65000
4      seven   9.0                           6      70000
5      three   7.0                          10      62000
6        ten                                 7      72000
7     eleven   7.0                           8      80000

In [128]:
for i in df.index:
    if df.loc[i,'test']=='':
        df.loc[i,'test']=11.0

In [129]:
df

  experience  test  interview_score(out of 10)  salary($)
0        one   8.0                           9      50000
1        two   8.0                           6      45000
2       five   6.0                           7      60000
3        two  10.0                          10      65000
4      seven   9.0                           6      70000
5      three   7.0                          10      62000
6        ten  11.0                           7      72000
7     eleven   7.0                           8      80000

In [135]:
df.rename(columns={'interview_score(out of 10)':'interview','salary($)':'salary'},inplace=True)
df

  experience  test  interview  salary
0        one   8.0          9   50000
1        two   8.0          6   45000
2       five   6.0          7   60000
3        two  10.0         10   65000
4      seven   9.0          6   70000
5      three   7.0         10   62000
6        ten  11.0          7   72000
7     eleven   7.0          8   80000

In [136]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   experience  8 non-null      object
 1   test        8 non-null      float64
 2   interview   8 non-null      int64
 3   salary      8 non-null      int64
dtypes: float64(1), int64(2), object(1)
memory usage: 388.0+ bytes

In [142]:
df['test']=df['test'].astype('int64')

In [143]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   experience  8 non-null      object
 1   test        8 non-null      int64
 2   interview   8 non-null      int64
 3   salary      8 non-null      int64
dtypes: int64(3), object(1)
memory usage: 388.0+ bytes

In [144]:
reg=linear_model.LinearRegression()
reg.fit(df[['test','interview']],df['salary'])

LinearRegression()

In [145]:
reg.predict([[4,7]])

C:\Users\subha\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([56562.58503401])

In [148]:
n=reg.coef_

In [152]:
reg.intercept_

np.float64(48512.24489795918)

In [149]:
n[0]

np.float64(1448.2993197278918)

In [150]:
n[1]

np.float64(322.44897959183686)

In [153]:
l=[]
l.append(n[0])
l.append(n[1])
l.append(reg.intercept_)

In [156]:
import pickle
pickle.dump(l,open('li.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))

print(np.ndarray.size())

In [157]:
print(np.ndarray.size())

TypeError: 'getset_descriptor' object is not callable

In [160]:
l=[]
for i in n:
    l.append(i)
l

[np.float64(1448.2993197278918), np.float64(322.44897959183686)]