In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df=pd.read_csv('HR_comma_sep.csv')

In [3]:
df.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [4]:
sdf=pd.get_dummies(df.salary,dtype=int)

In [5]:
df.drop(columns='salary',inplace=True)

In [43]:
merged=pd.concat([df,sdf],axis='columns')

In [44]:
merged

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,high,low,medium
0,0.38,0.53,2,157,3,0,1,0,sales,0,1,0
1,0.80,0.86,5,262,6,0,1,0,sales,0,0,1
2,0.11,0.88,7,272,4,0,1,0,sales,0,0,1
3,0.72,0.87,5,223,5,0,1,0,sales,0,1,0
4,0.37,0.52,2,159,3,0,1,0,sales,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
14994,0.40,0.57,2,151,3,0,1,0,support,0,1,0
14995,0.37,0.48,2,160,3,0,1,0,support,0,1,0
14996,0.37,0.53,2,143,3,0,1,0,support,0,1,0
14997,0.11,0.96,6,280,4,0,1,0,support,0,1,0
14998,0.37,0.52,2,158,3,0,1,0,support,0,1,0

In [45]:
sub=merged

In [46]:
merged.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,high,low,medium
0,0.38,0.53,2,157,3,0,1,0,sales,0,1,0
1,0.80,0.86,5,262,6,0,1,0,sales,0,0,1
2,0.11,0.88,7,272,4,0,1,0,sales,0,0,1
3,0.72,0.87,5,223,5,0,1,0,sales,0,1,0
4,0.37,0.52,2,159,3,0,1,0,sales,0,1,0

In [47]:
merged.isna().sum()

satisfaction_level       0
last_evaluation          0
number_project           0
average_montly_hours     0
time_spend_company       0
Work_accident            0
left                     0
promotion_last_5years    0
Department               0
high                     0
low                      0
medium                   0
dtype: int64

In [48]:
a=merged[merged.duplicated()]

In [49]:
a.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,Department,high,low,medium
396,0.46,0.57,2,139,3,0,1,0,sales,0,1,0
866,0.41,0.46,2,128,3,0,1,0,accounting,0,1,0
1317,0.37,0.51,2,127,3,0,1,0,sales,0,0,1
1368,0.41,0.52,2,132,3,0,1,0,RandD,0,1,0
1461,0.42,0.53,2,142,3,0,1,0,sales,0,1,0

In [50]:
b=a.groupby('left').agg('sum')

In [51]:
b

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,promotion_last_5years,Department,high,low,medium
left,,,,,,,,,,,
0,946.65,1019.76,5406,285433,6007,255,105,technicaltechnicaltechnicaltechnicaltechnicalt...,213,578,637
1,695.01,1127.31,6036,326243,6115,64,11,salesaccountingsalesRandDsalesITsalessalessale...,34,998,548

In [52]:
merged.drop(columns=['Work_accident','number_project','time_spend_company'],inplace=True)

In [53]:
merged.head()

,satisfaction_level,last_evaluation,average_montly_hours,left,promotion_last_5years,Department,high,low,medium
0,0.38,0.53,157,1,0,sales,0,1,0
1,0.80,0.86,262,1,0,sales,0,0,1
2,0.11,0.88,272,1,0,sales,0,0,1
3,0.72,0.87,223,1,0,sales,0,1,0
4,0.37,0.52,159,1,0,sales,0,1,0

In [54]:
from sklearn.model_selection import train_test_split

In [86]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   satisfaction_level     14999 non-null  float64
 1   last_evaluation        14999 non-null  float64
 2   average_montly_hours   14999 non-null  int64
 3   left                   14999 non-null  int64
 4   promotion_last_5years  14999 non-null  int64
 5   Department             14999 non-null  object
 6   high                   14999 non-null  int64
 7   low                    14999 non-null  int64
 8   medium                 14999 non-null  int64
dtypes: float64(2), int64(6), object(1)
memory usage: 1.0+ MB

In [87]:
merged.head()

,satisfaction_level,last_evaluation,average_montly_hours,left,promotion_last_5years,Department,high,low,medium
0,0.38,0.53,157,1,0,sales,0,1,0
1,0.80,0.86,262,1,0,sales,0,0,1
2,0.11,0.88,272,1,0,sales,0,0,1
3,0.72,0.87,223,1,0,sales,0,1,0
4,0.37,0.52,159,1,0,sales,0,1,0

In [88]:
m=merged

In [89]:
X=m.drop(columns=['Department'])

In [90]:
X

,satisfaction_level,last_evaluation,average_montly_hours,left,promotion_last_5years,high,low,medium
0,0.38,0.53,157,1,0,0,1,0
1,0.80,0.86,262,1,0,0,0,1
2,0.11,0.88,272,1,0,0,0,1
3,0.72,0.87,223,1,0,0,1,0
4,0.37,0.52,159,1,0,0,1,0
...,...,...,...,...,...,...,...,...
14994,0.40,0.57,151,1,0,0,1,0
14995,0.37,0.48,160,1,0,0,1,0
14996,0.37,0.53,143,1,0,0,1,0
14997,0.11,0.96,280,1,0,0,1,0
14998,0.37,0.52,158,1,0,0,1,0

In [92]:
y=merged.Department

In [93]:
y

0          sales
1          sales
2          sales
3          sales
4          sales
          ...
14994    support
14995    support
14996    support
14997    support
14998    support
Name: Department, Length: 14999, dtype: object

In [94]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.1)

In [95]:
from sklearn.linear_model import LogisticRegression

In [96]:
reg=LogisticRegression()

In [97]:
reg.fit(X_train,y_train)

C:\Users\subha\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [102]:
new=np.array([[0.65,0.53,157,1,0,0,1,0]])
reg.predict(new)

C:\Users\subha\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array(['sales'], dtype=object)